.cta {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: $white;
    color: $dark-blue;
    font-family: $font-title;
    font-size: 1.4rem;
    font-weight: $x-bold;
    text-transform: uppercase;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: $bg-cta-hover;
        color: $white;
    }
}

.link {
        position: relative;
        font-family: $font-title;
        text-transform: uppercase;
        font-weight: $x-bold;

        &::before{
                @include link-effect(salmon);  
        }

        &.link--yellow::before {
            @include link-effect(yellow)
        }

        &:hover::before {
           opacity: 1;  
           transform: scaleX(1.2);         
        }
    }
