html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    line-height: 1.65;
    font-family: $font-text;
    font-weight: bold;
}

//reset
a {
    text-decoration: none;
    color: currentColor;
}