.grid {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 600px);
    color: $dark-desaturate-blue;

    &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 20%;

        &-title {
            font-family: $font-title;
            font-size: 4rem;
            line-height: 1.2;
        }

        &-text {
            color: $grayish-blue;
            padding: 3rem 0;
        }
    }

       
    &__image {
        & img {
            display: block;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}