//colors

//primary
$red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$cyan-light: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$cyan: hsl(168, 34%, 41%);

$bg-header: hsl(200, 100%, 62%);
$bg-cta-hover: hsl(200, 100%, 72%);


//neutral
$dark-desaturate-blue:  hsl(212, 27%, 19%);
$dark-grayish-blue: hsl(213, 9%, 39%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//typography
$font-title: 'Fraunces', serif;
$font-text:  'Barlow', sans-serif;
$semi-bold : 600;
$bold: 700;
$x-bold: 900;